* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Wrapper {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 1fr 11fr;
  grid-template-areas: 
                        "A B B"
                        "C C C";
  min-width: 270px;                      
}

.header-1 {
  grid-area: A;
  background-color:rgb(255, 255, 255);
}
.header-1 img { 
  height: auto;
  width: 15%;
}
.image-flex {
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-2 {
  grid-area: B;
  background-color:rgb(255, 255, 255);
}

.main-1 {
  grid-area: C;
  background-color:rgb(255, 255, 255);
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 20px;
}

@media screen and (max-width: 800px) {
  .header-1 {
    display: none;
  }
}

